@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --main-color: #37AE6C;
    --main-font: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
} 

.container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 10px;
    min-height: 100%;
    display: flex;
    flex-grow: 1;
}