@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --main-color: #37AE6C;
    --logo-font: 'Raleway', sans-serif;
}

.container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}