
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: var(--main-font);
}

.btn-primary {
    background-color: var(--main-color)!important;
    border: none!important;
    color: white;
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
}

.btn-primary:hover {
    background-color: #2f8e5e!important;
}



.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardBody span {
    font-weight: 600;
}

.cardTitle {
    font-weight: 600 !important;
}

.gameMode {
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 18px;
}

.gameModeDesc {
    font-size: 16px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropedBtns:active {
    background-color: #2f8e5e!important;
}